<a href="https://colab.research.google.com/github/neeluvermaiitj/Data-Preprocessing-using-Pandas/blob/main/Data_Preprocessing_using_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preprocessing

<font color="red"><h2>**Measurement scales**</h2></font>

<font><h3>*Non-metric Scale*</h3></font>
<font><h6>1.Nominal</h6></font>
<font><h6>2.Ordinal</h6></font>

<font><h3>*Metric Scale*</h3></font>
<font><h6>1.Interval</h6></font>
<font><h6>2.Ratio</h6></font>

<font><h2>**Nominal**</h2></font>
<font><h6> Charcteristics : A scale used for labeling variables into distinct classifications , in no order.</h6></font>
<font><h6>Examples: Name of Places, Brand Types</h6></font>

<font><h2>**Ordinal**</h2></font>
<font><h6>Charcteristics : It depicts the order of variables and not the difference between each of the variables.</h3></font>
<font><h6>Examples: Grades, Quality</h4></font>

<font><h2>**Interval**</h2></font>
<font><h6>Charcteristics : It indicates difference between the objects</h3></font>
<font><h6>Examples:Temperature</h4></font>

<font><h2>**Ratio**</h2></font>
<font><h6>Charcteristics : A measurement scale that produces the order of variables,also makes the difference between variables known along with information on the value of true zero.</h3></font>
<font><h6>Examples: Height , Weight</h4></font>

<font color="blue"><h2>**Need for data preprocessing**</h2></font>

<font><h6>1. Many times data is not compatible to be passed to any function in the libraries like scikit-learn</h3></font>

<font><h6>2. Data can be**</h3></font>
<font><h6>**• With some genuinely missing values**</h4></font>
<font><h6>**• Categorical**</h4></font>
<font><h6>**• With variables of different scales</h4></font>

## Missing Values

### Read the csv file

In [ ]:
import pandas as pd

chemical = pd.read_csv("ml/data/ChemicalProcess.csv")

In [ ]:
chemical.head()

,Yield,BiologicalMaterial11,BiologicalMaterial12,ManufacturingProcess01,ManufacturingProcess02,ManufacturingProcess03,ManufacturingProcess04,ManufacturingProcess09,ManufacturingProcess10,ManufacturingProcess11,...,Unnamed: 44,Unnamed: 45,ManufacturingProcess34,ManufacturingProcess35,ManufacturingProcess36,ManufacturingProcess37,ManufacturingProcess38,ManufacturingProcess39,ManufacturingProcess40,ManufacturingProcess41
0,38.00,138.09,18.83,NaN,NaN,NaN,NaN,43.00,NaN,NaN,...,NaN,NaN,2.4,486,0.019,0.5,3,7.2,NaN,NaN
1,42.44,153.67,21.05,0.0,0.0,NaN,917.0,46.57,NaN,NaN,...,NaN,NaN,2.6,508,0.019,2.0,2,7.2,0.1,0.15
2,42.03,153.67,21.05,0.0,0.0,NaN,912.0,45.07,NaN,NaN,...,NaN,NaN,2.6,509,0.018,0.7,2,7.2,0.0,0.00
3,41.42,153.67,21.05,0.0,0.0,NaN,911.0,44.92,NaN,NaN,...,NaN,NaN,2.5,496,0.018,1.2,2,7.2,0.0,0.00
4,42.49,147.61,21.05,10.7,0.0,NaN,918.0,44.96,NaN,NaN,...,NaN,NaN,2.5,468,0.017,0.2,2,7.3,0.0,0.00

In [ ]:
#Check for missing value
print(chemical.isnull())

    Yield  BiologicalMaterial11  BiologicalMaterial12  ManufacturingProcess01  \
0   False                 False                 False                    True
1   False                 False                 False                   False
2   False                 False                 False                   False
3   False                 False                 False                   False
4   False                 False                 False                   False
5   False                 False                 False                   False
6   False                 False                 False                   False
7   False                 False                 False                   False
8   False                 False                 False                   False
9   False                 False                 False                   False
10  False                 False                 False                   False
11  False                 False                 False                   False
12  False                 False                 False                   False
13  False                 False                 False                   False
14  False                 False                 False                   False
15  False                 False                 False                   False
16  False                 False                 False                   False
17  False                 False                 False                   False
18  False                 False                 False                   False

    ManufacturingProcess02  ManufacturingProcess03  ManufacturingProcess04  \
0                     True                    True                    True
1                    False                    True                   False
2                    False                    True                   False
3                    False                    True                   False
4                    False                    True                   False
5                    False                    True                   False
6                    False                   False                   False
7                    False                   False                   False
8                    False                   False                   False
9                    False                   False                   False
10                   False                   False                   False
11                   False                   False                   False
12                   False                   False                   False
13                   False                   False                   False
14                   False                    True                   False
15                   False                    True                   False
16                   False                    True                   False
17                   False                    True                   False
18                   False                    True                   False

    ManufacturingProcess09  ManufacturingProcess10  ManufacturingProcess11  \
0                    False                    True                    True
1                    False                    True                    True
2                    False                    True                    True
3                    False                    True                    True
4                    False                    True                    True
5                    False                    True                    True
6                    False                   False                   False
7                    False                   False                   False
8                    False                   False                   False
9                    False                   False                   False
10                   False                   False                   False
11                   False                   False                   False
12                   False                   False                   False
13                   False                   False                   False
14                   False                   False                   False
15                   False                   False                   False
16                   False                   False                   False
17                   False                   False                   False
18                   False                   False                   False

    ...  Unnamed: 44  Unnamed: 45  ManufacturingProcess34  \
0   ...         True         True                   False
1   ...         True         True                   False
2   ...         True         True                   False
3   ...         True         True                   False
4   ...         True         True                   False
5   ...         True         True                   False
6   ...         True         True                   False
7   ...         True         True                   False
8   ...         True         True                   False
9   ...         True         True                   False
10  ...         True         True                   False
11  ...         True         True                   False
12  ...         True         True                   False
13  ...         True         True                   False
14  ...         True         True                   False
15  ...         True         True                   False
16  ...         True         True                   False
17  ...         True         True                   False
18  ...         True         True                   False

    ManufacturingProcess35  ManufacturingProcess36  ManufacturingProcess37  \
0                    False                   False                   False
1                    False                   False                   False
2                    False                   False                   False
3                    False                   False                   False
4                    False                   False                   False
5                    False                   False                   False
6                    False                   False                   False
7                    False                   False                   False
8                    False                   False                   False
9                    False                   False                   False
10                   False                   False                   False
11                   False                   False                   False
12                   False                   False                   False
13                   False                   False                   False
14                   False                   False                   False
15                   False                   False                   False
16                   False                   False                   False
17                   False                   False                   False
18                   False                   False                   False

    ManufacturingProcess38  ManufacturingProcess39  ManufacturingProcess40  \
0                    False                   False                    True
1                    False                   False                   False
2                    False                   False                   False
3                    False                   False                   False
4                    False                   False                   False
5                    False                   False                   False
6                    False                   False                   False
7                    False                   False                   False
8                    False                   False                   False
9                    False                   False                   False
10                   False                   False                   False
11                   False                   False                   False
12                   False                   False                   False
13                   False                   False                   False
14                   False                   False                   False
15                   False                   False                   False
16                   False                   False                   False
17                   False                   False                   False
18                   False                   False                   False

    ManufacturingProcess41
0                     True
1                    False
2                    False
3                    False
4                    False
5                    False
6                    False
7                    False
8                    False
9                    False
10                   False
11                   False
12                   False
13                   False
14                   False
15                   False
16                   False
17                   False
18                   False

[19 rows x 26 columns]

In [ ]:
chemical.describe()

,Yield,BiologicalMaterial11,BiologicalMaterial12,ManufacturingProcess01,ManufacturingProcess02,ManufacturingProcess03,ManufacturingProcess04,ManufacturingProcess09,ManufacturingProcess10,ManufacturingProcess11,...,Unnamed: 44,Unnamed: 45,ManufacturingProcess34,ManufacturingProcess35,ManufacturingProcess36,ManufacturingProcess37,ManufacturingProcess38,ManufacturingProcess39,ManufacturingProcess40,ManufacturingProcess41
count,19.000000,19.000000,19.000000,18.000000,18.0,8.000000,18.000000,19.000000,13.000000,13.000000,...,0.0,0.0,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,18.000000,18.000000
mean,41.660526,151.047368,20.990000,9.488889,0.0,1.557500,926.944444,46.047895,9.592308,10.330769,...,NaN,NaN,2.489474,492.052632,0.018789,1.010526,2.578947,7.236842,0.011111,0.019444
std,1.457523,5.649414,0.760409,4.423718,0.0,0.013887,7.627136,1.493269,0.742138,0.631644,...,NaN,NaN,0.056713,11.172753,0.000855,0.505409,0.507257,0.125656,0.032338,0.057238
min,38.000000,138.090000,18.830000,0.000000,0.0,1.550000,911.000000,43.000000,8.800000,9.500000,...,NaN,NaN,2.400000,468.000000,0.017000,0.200000,2.000000,7.000000,0.000000,0.000000
25%,41.050000,147.360000,20.725000,10.300000,0.0,1.550000,925.000000,45.175000,9.000000,9.800000,...,NaN,NaN,2.500000,489.000000,0.018000,0.650000,2.000000,7.200000,0.000000,0.000000
50%,42.030000,152.830000,21.050000,11.100000,0.0,1.550000,929.000000,45.730000,9.500000,10.200000,...,NaN,NaN,2.500000,491.000000,0.019000,1.100000,3.000000,7.200000,0.000000,0.000000
75%,42.585000,154.200000,21.450000,12.000000,0.0,1.560000,931.500000,46.840000,9.700000,10.600000,...,NaN,NaN,2.500000,496.500000,0.019000,1.250000,3.000000,7.300000,0.000000,0.000000
max,43.570000,158.420000,22.180000,12.700000,0.0,1.590000,938.000000,49.360000,11.600000,11.500000,...,NaN,NaN,2.600000,514.000000,0.021000,2.000000,3.000000,7.400000,0.100000,0.200000

In [ ]:
#Determine columns with missings
chemical.loc[:, chemical.isnull().any()].columns

Index(['ManufacturingProcess01', 'ManufacturingProcess02',
       'ManufacturingProcess03', 'ManufacturingProcess04',
       'ManufacturingProcess10', 'ManufacturingProcess11',
       'ManufacturingProcess12', 'ManufacturingProcess22',
       'ManufacturingProcess23', 'ManufacturingProcess24', 'Unnamed: 44',
       'Unnamed: 45', 'ManufacturingProcess40', 'ManufacturingProcess41'],
      dtype='object')

In [ ]:
#Viewing the column names
chemical.columns

Index(['Yield', 'BiologicalMaterial11', 'BiologicalMaterial12',
       'ManufacturingProcess01', 'ManufacturingProcess02',
       'ManufacturingProcess03', 'ManufacturingProcess04',
       'ManufacturingProcess09', 'ManufacturingProcess10',
       'ManufacturingProcess11', 'ManufacturingProcess12',
       'ManufacturingProcess13', 'ManufacturingProcess21',
       'ManufacturingProcess22', 'ManufacturingProcess23',
       'ManufacturingProcess24', 'Unnamed: 44', 'Unnamed: 45',
       'ManufacturingProcess34', 'ManufacturingProcess35',
       'ManufacturingProcess36', 'ManufacturingProcess37',
       'ManufacturingProcess38', 'ManufacturingProcess39',
       'ManufacturingProcess40', 'ManufacturingProcess41'],
      dtype='object')

In [ ]:
#Information about the data
chemical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Yield                   19 non-null     float64
 1   BiologicalMaterial11    19 non-null     float64
 2   BiologicalMaterial12    19 non-null     float64
 3   ManufacturingProcess01  18 non-null     float64
 4   ManufacturingProcess02  18 non-null     float64
 5   ManufacturingProcess03  8 non-null      float64
 6   ManufacturingProcess04  18 non-null     float64
 7   ManufacturingProcess09  19 non-null     float64
 8   ManufacturingProcess10  13 non-null     float64
 9   ManufacturingProcess11  13 non-null     float64
 10  ManufacturingProcess12  18 non-null     float64
 11  ManufacturingProcess13  19 non-null     float64
 12  ManufacturingProcess21  19 non-null     float64
 13  ManufacturingProcess22  18 non-null     float64
 14  ManufacturingProcess23  18 non-null     float64
 15  ManufacturingProcess24  18 non-null     float64
 16  Unnamed: 44             0 non-null      float64
 17  Unnamed: 45             0 non-null      float64
 18  ManufacturingProcess34  19 non-null     float64
 19  ManufacturingProcess35  19 non-null     int64
 20  ManufacturingProcess36  19 non-null     float64
 21  ManufacturingProcess37  19 non-null     float64
 22  ManufacturingProcess38  19 non-null     int64
 23  ManufacturingProcess39  19 non-null     float64
 24  ManufacturingProcess40  18 non-null     float64
 25  ManufacturingProcess41  18 non-null     float64
dtypes: float64(24), int64(2)
memory usage: 4.0 KB

### Dropping NA values

In [ ]:
chemicalDropNA = chemical.dropna(axis=1)

In [ ]:
chemicalDropNA.shape

In [ ]:
chemicalDropNA.info()

In [ ]:
#droppping selected columns
chemical_df=chemical.drop(["Unnamed: 44","Unnamed: 45"],axis=1)

In [ ]:
chemical_df.info()

### Replacing the missing values

In [ ]:
chemical_fill_na= chemical_df.fillna(0)

In [ ]:
chemical_fill_na

,Yield,BiologicalMaterial11,BiologicalMaterial12,ManufacturingProcess01,ManufacturingProcess02,ManufacturingProcess03,ManufacturingProcess04,ManufacturingProcess09,ManufacturingProcess10,ManufacturingProcess11,...,ManufacturingProcess23,ManufacturingProcess24,ManufacturingProcess34,ManufacturingProcess35,ManufacturingProcess36,ManufacturingProcess37,ManufacturingProcess38,ManufacturingProcess39,ManufacturingProcess40,ManufacturingProcess41
0,38.00,138.09,18.83,0.0,0.0,0.00,0.0,43.00,0.0,0.0,...,0.0,0.0,2.4,486,0.019,0.5,3,7.2,0.0,0.00
1,42.44,153.67,21.05,0.0,0.0,0.00,917.0,46.57,0.0,0.0,...,0.0,3.0,2.6,508,0.019,2.0,2,7.2,0.1,0.15
2,42.03,153.67,21.05,0.0,0.0,0.00,912.0,45.07,0.0,0.0,...,1.0,4.0,2.6,509,0.018,0.7,2,7.2,0.0,0.00
3,41.42,153.67,21.05,0.0,0.0,0.00,911.0,44.92,0.0,0.0,...,2.0,5.0,2.5,496,0.018,1.2,2,7.2,0.0,0.00
4,42.49,147.61,21.05,10.7,0.0,0.00,918.0,44.96,0.0,0.0,...,4.0,18.0,2.5,468,0.017,0.2,2,7.3,0.0,0.00
5,43.57,151.88,20.76,12.0,0.0,0.00,924.0,45.32,0.0,0.0,...,1.0,1.0,2.5,490,0.018,0.4,2,7.2,0.0,0.00
6,43.12,147.11,20.75,11.5,0.0,1.56,933.0,49.36,11.6,11.5,...,1.0,1.0,2.5,475,0.019,0.8,2,7.3,0.0,0.00
7,43.06,154.20,21.45,12.0,0.0,1.55,929.0,48.68,10.2,11.3,...,2.0,2.0,2.5,478,0.019,1.0,2,7.3,0.0,0.00
8,41.49,154.20,21.45,12.0,0.0,1.56,928.0,47.20,9.7,11.1,...,3.0,3.0,2.5,491,0.019,1.2,3,7.4,0.0,0.00
9,42.45,154.20,21.45,12.0,0.0,1.55,938.0,47.11,10.1,10.2,...,1.0,4.0,2.5,488,0.019,1.8,3,7.1,0.0,0.00
10,42.04,143.28,20.21,10.3,0.0,1.55,932.0,46.24,9.0,9.5,...,3.0,6.0,2.5,493,0.019,1.5,2,7.0,0.0,0.00
11,42.68,143.28,20.21,10.3,0.0,1.55,930.0,46.10,8.8,9.7,...,4.0,7.0,2.5,498,0.018,0.3,3,7.0,0.0,0.00
12,43.44,143.28,20.21,10.3,0.0,1.55,934.0,47.53,9.3,10.4,...,1.0,8.0,2.4,490,0.018,1.1,3,7.1,0.0,0.00
13,40.28,158.42,21.77,11.1,0.0,1.59,934.0,45.28,9.6,9.8,...,2.0,2.0,2.4,490,0.019,0.6,3,7.4,0.0,0.00
14,41.50,152.83,22.18,11.3,0.0,0.00,930.0,46.44,9.4,10.2,...,3.0,15.0,2.5,490,0.019,1.6,3,7.2,0.0,0.00
15,41.21,152.82,21.35,11.1,0.0,0.00,928.0,45.40,9.6,10.2,...,4.0,16.0,2.5,493,0.019,1.2,3,7.3,0.1,0.20
16,40.89,152.82,20.70,11.1,0.0,0.00,928.0,45.54,9.0,10.0,...,1.0,1.0,2.5,495,0.019,1.3,3,7.4,0.0,0.00
17,40.14,156.51,21.47,12.4,0.0,0.00,930.0,45.73,9.5,10.6,...,1.0,2.0,2.5,497,0.020,1.1,3,7.4,0.0,0.00
18,39.30,158.36,21.82,12.7,0.0,0.00,929.0,44.46,8.9,9.8,...,2.0,3.0,2.4,514,0.021,0.7,3,7.3,0.0,0.00

In [ ]:
#OR
from sklearn.impute import SimpleImputer
imp = SimpleImputer(strategy='mean')

In [ ]:
chemicalImputed = imp.fit_transform(chemical_df)

In [ ]:
chemicalImputed

array([[ 3.80000000e+01,  1.38090000e+02,  1.88300000e+01,
         9.48888889e+00,  0.00000000e+00,  1.55750000e+00,
         9.26944444e+02,  4.30000000e+01,  9.59230769e+00,
         1.03307692e+01,  0.00000000e+00,  3.55000000e+01,
         0.00000000e+00,  5.50000000e+00,  2.00000000e+00,
         5.61111111e+00,  2.40000000e+00,  4.86000000e+02,
         1.90000000e-02,  5.00000000e-01,  3.00000000e+00,
         7.20000000e+00,  1.11111111e-02,  1.94444444e-02],
       [ 4.24400000e+01,  1.53670000e+02,  2.10500000e+01,
         0.00000000e+00,  0.00000000e+00,  1.55750000e+00,
         9.17000000e+02,  4.65700000e+01,  9.59230769e+00,
         1.03307692e+01,  0.00000000e+00,  3.40000000e+01,
         0.00000000e+00,  3.00000000e+00,  0.00000000e+00,
         3.00000000e+00,  2.60000000e+00,  5.08000000e+02,
         1.90000000e-02,  2.00000000e+00,  2.00000000e+00,
         7.20000000e+00,  1.00000000e-01,  1.50000000e-01],
       [ 4.20300000e+01,  1.53670000e+02,  2.10500000e+01,
         0.00000000e+00,  0.00000000e+00,  1.55750000e+00,
         9.12000000e+02,  4.50700000e+01,  9.59230769e+00,
         1.03307692e+01,  0.00000000e+00,  3.48000000e+01,
         0.00000000e+00,  4.00000000e+00,  1.00000000e+00,
         4.00000000e+00,  2.60000000e+00,  5.09000000e+02,
         1.80000000e-02,  7.00000000e-01,  2.00000000e+00,
         7.20000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 4.14200000e+01,  1.53670000e+02,  2.10500000e+01,
         0.00000000e+00,  0.00000000e+00,  1.55750000e+00,
         9.11000000e+02,  4.49200000e+01,  9.59230769e+00,
         1.03307692e+01,  0.00000000e+00,  3.48000000e+01,
         0.00000000e+00,  5.00000000e+00,  2.00000000e+00,
         5.00000000e+00,  2.50000000e+00,  4.96000000e+02,
         1.80000000e-02,  1.20000000e+00,  2.00000000e+00,
         7.20000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 4.24900000e+01,  1.47610000e+02,  2.10500000e+01,
         1.07000000e+01,  0.00000000e+00,  1.55750000e+00,
         9.18000000e+02,  4.49600000e+01,  9.59230769e+00,
         1.03307692e+01,  0.00000000e+00,  3.46000000e+01,
        -7.00000000e-01,  8.00000000e+00,  4.00000000e+00,
         1.80000000e+01,  2.50000000e+00,  4.68000000e+02,
         1.70000000e-02,  2.00000000e-01,  2.00000000e+00,
         7.30000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 4.35700000e+01,  1.51880000e+02,  2.07600000e+01,
         1.20000000e+01,  0.00000000e+00,  1.55750000e+00,
         9.24000000e+02,  4.53200000e+01,  9.59230769e+00,
         1.03307692e+01,  0.00000000e+00,  3.40000000e+01,
        -6.00000000e-01,  9.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  2.50000000e+00,  4.90000000e+02,
         1.80000000e-02,  4.00000000e-01,  2.00000000e+00,
         7.20000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 4.31200000e+01,  1.47110000e+02,  2.07500000e+01,
         1.15000000e+01,  0.00000000e+00,  1.56000000e+00,
         9.33000000e+02,  4.93600000e+01,  1.16000000e+01,
         1.15000000e+01,  0.00000000e+00,  3.24000000e+01,
         1.40000000e+00,  1.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  2.50000000e+00,  4.75000000e+02,
         1.90000000e-02,  8.00000000e-01,  2.00000000e+00,
         7.30000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 4.30600000e+01,  1.54200000e+02,  2.14500000e+01,
         1.20000000e+01,  0.00000000e+00,  1.55000000e+00,
         9.29000000e+02,  4.86800000e+01,  1.02000000e+01,
         1.13000000e+01,  0.00000000e+00,  3.36000000e+01,
         0.00000000e+00,  2.00000000e+00,  2.00000000e+00,
         2.00000000e+00,  2.50000000e+00,  4.78000000e+02,
         1.90000000e-02,  1.00000000e+00,  2.00000000e+00,
         7.30000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 4.14900000e+01,  1.54200000e+02,  2.14500000e+01,
         1.20000000e+01,  0.00000000e+00,  1.56000000e+00,
         9.28000000e+02,  4.72000000e+01,  9.70000000e+00,
         1.11000000e+01,  0.00000000e+00,  3.39000000e+01,
         0.00000000e+00,  3.00000000e+00,  3.00000000e+00,
         3.00000000e+00,  2.50000000e+00,  4.91000000e+02,
         1.90000000e-02,  1.20000000e+00,  3.00000000e+00,
         7.40000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 4.24500000e+01,  1.54200000e+02,  2.14500000e+01,
         1.20000000e+01,  0.00000000e+00,  1.55000000e+00,
         9.38000000e+02,  4.71100000e+01,  1.01000000e+01,
         1.02000000e+01,  0.00000000e+00,  3.43000000e+01,
         1.00000000e+00,  4.00000000e+00,  1.00000000e+00,
         4.00000000e+00,  2.50000000e+00,  4.88000000e+02,
         1.90000000e-02,  1.80000000e+00,  3.00000000e+00,
         7.10000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 4.20400000e+01,  1.43280000e+02,  2.02100000e+01,
         1.03000000e+01,  0.00000000e+00,  1.55000000e+00,
         9.32000000e+02,  4.62400000e+01,  9.00000000e+00,
         9.50000000e+00,  0.00000000e+00,  3.58000000e+01,
         0.00000000e+00,  6.00000000e+00,  3.00000000e+00,
         6.00000000e+00,  2.50000000e+00,  4.93000000e+02,
         1.90000000e-02,  1.50000000e+00,  2.00000000e+00,
         7.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 4.26800000e+01,  1.43280000e+02,  2.02100000e+01,
         1.03000000e+01,  0.00000000e+00,  1.55000000e+00,
         9.30000000e+02,  4.61000000e+01,  8.80000000e+00,
         9.70000000e+00,  0.00000000e+00,  3.56000000e+01,
        -4.00000000e-01,  7.00000000e+00,  4.00000000e+00,
         7.00000000e+00,  2.50000000e+00,  4.98000000e+02,
         1.80000000e-02,  3.00000000e-01,  3.00000000e+00,
         7.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 4.34400000e+01,  1.43280000e+02,  2.02100000e+01,
         1.03000000e+01,  0.00000000e+00,  1.55000000e+00,
         9.34000000e+02,  4.75300000e+01,  9.30000000e+00,
         1.04000000e+01,  0.00000000e+00,  3.51000000e+01,
         0.00000000e+00,  8.00000000e+00,  1.00000000e+00,
         8.00000000e+00,  2.40000000e+00,  4.90000000e+02,
         1.80000000e-02,  1.10000000e+00,  3.00000000e+00,
         7.10000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 4.02800000e+01,  1.58420000e+02,  2.17700000e+01,
         1.11000000e+01,  0.00000000e+00,  1.59000000e+00,
         9.34000000e+02,  4.52800000e+01,  9.60000000e+00,
         9.80000000e+00,  0.00000000e+00,  3.49000000e+01,
         9.00000000e-01,  1.00000000e+01,  2.00000000e+00,
         2.00000000e+00,  2.40000000e+00,  4.90000000e+02,
         1.90000000e-02,  6.00000000e-01,  3.00000000e+00,
         7.40000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 4.15000000e+01,  1.52830000e+02,  2.21800000e+01,
         1.13000000e+01,  0.00000000e+00,  1.55750000e+00,
         9.30000000e+02,  4.64400000e+01,  9.40000000e+00,
         1.02000000e+01,  0.00000000e+00,  3.53000000e+01,
         0.00000000e+00,  1.10000000e+01,  3.00000000e+00,
         1.50000000e+01,  2.50000000e+00,  4.90000000e+02,
         1.90000000e-02,  1.60000000e+00,  3.00000000e+00,
         7.20000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 4.12100000e+01,  1.52820000e+02,  2.13500000e+01,
         1.11000000e+01,  0.00000000e+00,  1.55750000e+00,
         9.28000000e+02,  4.54000000e+01,  9.60000000e+00,
         1.02000000e+01,  0.00000000e+00,  3.54000000e+01,
         1.00000000e-01,  1.20000000e+01,  4.00000000e+00,
         1.60000000e+01,  2.50000000e+00,  4.93000000e+02,
         1.90000000e-02,  1.20000000e+00,  3.00000000e+00,
         7.30000000e+00,  1.00000000e-01,  2.00000000e-01],
       [ 4.08900000e+01,  1.52820000e+02,  2.07000000e+01,
         1.11000000e+01,  0.00000000e+00,  1.55750000e+00,
         9.28000000e+02,  4.55400000e+01,  9.00000000e+00,
         1.00000000e+01,  0.00000000e+00,  3.58000000e+01,
         0.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  2.50000000e+00,  4.95000000e+02,
         1.90000000e-02,  1.30000000e+00,  3.00000000e+00,
         7.40000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 4.01400000e+01,  1.56510000e+02,  2.14700000e+01,
         1.24000000e+01,  0.00000000e+00,  1.55750000e+00,
         9.30000000e+02,  4.57300000e+01,  9.50000000e+00,
         1.06000000e+01,  0.00000000e+00,  3.55000000e+01,
         0.00000000e+00,  2.00000000e+00,  1.00000000e+00,
         2.00000000e+00,  2.50000000e+00,  4.97000000e+02,
         2.00000000e-02,  1.10000000e+00,  3.00000000e+00,
         7.40000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 3.93000000e+01,  1.58360000e+02,  2.18200000e+01,
         1.27000000e+01,  0.00000000e+00,  1.55750000e+00,
         9.29000000e+02,  4.44600000e+01,  8.90000000e+00,
         9.80000000e+00,  0.00000000e+00,  3.55000000e+01,
         0.00000000e+00,  3.00000000e+00,  2.00000000e+00,
         3.00000000e+00,  2.40000000e+00,  5.14000000e+02,
         2.10000000e-02,  7.00000000e-01,  3.00000000e+00,
         7.30000000e+00,  0.00000000e+00,  0.00000000e+00]])

In [ ]:
df_chemicalImputed = pd.DataFrame(chemicalImputed,columns= chemical_df.columns)

In [ ]:
df_chemicalImputed

,Yield,BiologicalMaterial11,BiologicalMaterial12,ManufacturingProcess01,ManufacturingProcess02,ManufacturingProcess03,ManufacturingProcess04,ManufacturingProcess09,ManufacturingProcess10,ManufacturingProcess11,...,ManufacturingProcess23,ManufacturingProcess24,ManufacturingProcess34,ManufacturingProcess35,ManufacturingProcess36,ManufacturingProcess37,ManufacturingProcess38,ManufacturingProcess39,ManufacturingProcess40,ManufacturingProcess41
0,38.00,138.09,18.83,9.488889,0.0,1.5575,926.944444,43.00,9.592308,10.330769,...,2.0,5.611111,2.4,486.0,0.019,0.5,3.0,7.2,0.011111,0.019444
1,42.44,153.67,21.05,0.000000,0.0,1.5575,917.000000,46.57,9.592308,10.330769,...,0.0,3.000000,2.6,508.0,0.019,2.0,2.0,7.2,0.100000,0.150000
2,42.03,153.67,21.05,0.000000,0.0,1.5575,912.000000,45.07,9.592308,10.330769,...,1.0,4.000000,2.6,509.0,0.018,0.7,2.0,7.2,0.000000,0.000000
3,41.42,153.67,21.05,0.000000,0.0,1.5575,911.000000,44.92,9.592308,10.330769,...,2.0,5.000000,2.5,496.0,0.018,1.2,2.0,7.2,0.000000,0.000000
4,42.49,147.61,21.05,10.700000,0.0,1.5575,918.000000,44.96,9.592308,10.330769,...,4.0,18.000000,2.5,468.0,0.017,0.2,2.0,7.3,0.000000,0.000000
5,43.57,151.88,20.76,12.000000,0.0,1.5575,924.000000,45.32,9.592308,10.330769,...,1.0,1.000000,2.5,490.0,0.018,0.4,2.0,7.2,0.000000,0.000000
6,43.12,147.11,20.75,11.500000,0.0,1.5600,933.000000,49.36,11.600000,11.500000,...,1.0,1.000000,2.5,475.0,0.019,0.8,2.0,7.3,0.000000,0.000000
7,43.06,154.20,21.45,12.000000,0.0,1.5500,929.000000,48.68,10.200000,11.300000,...,2.0,2.000000,2.5,478.0,0.019,1.0,2.0,7.3,0.000000,0.000000
8,41.49,154.20,21.45,12.000000,0.0,1.5600,928.000000,47.20,9.700000,11.100000,...,3.0,3.000000,2.5,491.0,0.019,1.2,3.0,7.4,0.000000,0.000000
9,42.45,154.20,21.45,12.000000,0.0,1.5500,938.000000,47.11,10.100000,10.200000,...,1.0,4.000000,2.5,488.0,0.019,1.8,3.0,7.1,0.000000,0.000000
10,42.04,143.28,20.21,10.300000,0.0,1.5500,932.000000,46.24,9.000000,9.500000,...,3.0,6.000000,2.5,493.0,0.019,1.5,2.0,7.0,0.000000,0.000000
11,42.68,143.28,20.21,10.300000,0.0,1.5500,930.000000,46.10,8.800000,9.700000,...,4.0,7.000000,2.5,498.0,0.018,0.3,3.0,7.0,0.000000,0.000000
12,43.44,143.28,20.21,10.300000,0.0,1.5500,934.000000,47.53,9.300000,10.400000,...,1.0,8.000000,2.4,490.0,0.018,1.1,3.0,7.1,0.000000,0.000000
13,40.28,158.42,21.77,11.100000,0.0,1.5900,934.000000,45.28,9.600000,9.800000,...,2.0,2.000000,2.4,490.0,0.019,0.6,3.0,7.4,0.000000,0.000000
14,41.50,152.83,22.18,11.300000,0.0,1.5575,930.000000,46.44,9.400000,10.200000,...,3.0,15.000000,2.5,490.0,0.019,1.6,3.0,7.2,0.000000,0.000000
15,41.21,152.82,21.35,11.100000,0.0,1.5575,928.000000,45.40,9.600000,10.200000,...,4.0,16.000000,2.5,493.0,0.019,1.2,3.0,7.3,0.100000,0.200000
16,40.89,152.82,20.70,11.100000,0.0,1.5575,928.000000,45.54,9.000000,10.000000,...,1.0,1.000000,2.5,495.0,0.019,1.3,3.0,7.4,0.000000,0.000000
17,40.14,156.51,21.47,12.400000,0.0,1.5575,930.000000,45.73,9.500000,10.600000,...,1.0,2.000000,2.5,497.0,0.020,1.1,3.0,7.4,0.000000,0.000000
18,39.30,158.36,21.82,12.700000,0.0,1.5575,929.000000,44.46,8.900000,9.800000,...,2.0,3.000000,2.4,514.0,0.021,0.7,3.0,7.3,0.000000,0.000000

## Categorical Data

### Label Encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder
lbcode = LabelEncoder()

In [ ]:
y = ['a','b','a','a','c','a','b','b','a','c','a']
trny = lbcode.fit_transform(y)
print(trny)

[0 1 0 0 2 0 1 1 0 2 0]

In [ ]:
salaries = pd.read_csv("ml/data/Salaries.csv")

In [ ]:
salaries

         rank discipline  yrs.since.phd  yrs.service   sex  salary
0        Prof          B             19           18  Male  139750
1        Prof          B             20           16  Male  173200
2    AsstProf          B              4            3  Male   79750
3        Prof          B             45           39  Male  115000
4        Prof          B             40           41  Male  141500
..        ...        ...            ...          ...   ...     ...
392      Prof          A             33           30  Male  103106
393      Prof          A             31           19  Male  150564
394      Prof          A             42           25  Male  101738
395      Prof          A             25           15  Male   95329
396  AsstProf          A              8            4  Male   81035

[397 rows x 6 columns]

### Dummy Variables in pandas

In [ ]:
dum_df = pd.get_dummies(salaries, drop_first=True)

In [ ]:
dum_df.columns

Index(['yrs.since.phd', 'yrs.service', 'salary', 'rank_AsstProf', 'rank_Prof',
       'discipline_B', 'sex_Male'],
      dtype='object')

In [ ]:
dum_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   yrs.since.phd  397 non-null    int64
 1   yrs.service    397 non-null    int64
 2   salary         397 non-null    int64
 3   rank_AsstProf  397 non-null    uint8
 4   rank_Prof      397 non-null    uint8
 5   discipline_B   397 non-null    uint8
 6   sex_Male       397 non-null    uint8
dtypes: int64(3), uint8(4)
memory usage: 11.0 KB

In [ ]:
dum_df.head()

,yrs.since.phd,yrs.service,salary,rank_AsstProf,rank_Prof,discipline_B,sex_Male
0,19,18,139750,0,1,1,1
1,20,16,173200,0,1,1,1
2,4,3,79750,1,0,1,1
3,45,39,115000,0,1,1,1
4,40,41,141500,0,1,1,1

In [ ]:
X = salaries.iloc[:,0:]

In [ ]:
y = salaries.iloc[:,5]

In [ ]:
y

0      139750
1      173200
2       79750
3      115000
4      141500
        ...
392    103106
393    150564
394    101738
395     95329
396     81035
Name: salary, Length: 397, dtype: int64

In [ ]:
#OR
from sklearn.preprocessing import OrdinalEncoder
orcode = OrdinalEncoder()

In [ ]:
from sklearn.preprocessing import OneHotEncoder
oe=OneHotEncoder(sparse=False)

In [ ]:
sal_encode = orcode.fit_transform(salaries[["rank"]])[:10]

In [ ]:
sal_encode

array([[2.],
       [2.],
       [1.],
       [2.],
       [2.],
       [0.],
       [2.],
       [2.],
       [2.],
       [2.]])

In [ ]:
salaries["rank"][:10]

0         Prof
1         Prof
2     AsstProf
3         Prof
4         Prof
5    AssocProf
6         Prof
7         Prof
8         Prof
9         Prof
Name: rank, dtype: object

In [ ]:
arr=oe.fit_transform(salaries[["discipline"]])[:5]

In [ ]:
arr

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.]])

In [ ]:
#This throws an error
#sal=lbcode.fit_transform(X)

## Scaling/ Normalizing Features

In [ ]:
import numpy as np
mpg = pd.read_csv("ml/data/auto-mpg.csv",index_col=0)

In [ ]:
mpg.describe()

,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [ ]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 398 entries, 18.0 to 31.0
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cylinders     398 non-null    int64
 1   displacement  398 non-null    float64
 2   horsepower    398 non-null    object
 3   weight        398 non-null    int64
 4   acceleration  398 non-null    float64
 5   model year    398 non-null    int64
 6   origin        398 non-null    int64
 7   car name      398 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 28.0+ KB

In [ ]:
mpg.head()

,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
mpg,,,,,,,,
18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [ ]:
np.mean(mpg), np.std(mpg)

(cylinders          5.454774
 displacement     193.425879
 weight          2970.424623
 acceleration      15.568090
 model year        76.010050
 origin             1.572864
 dtype: float64,
 cylinders         1.698866
 displacement    104.138764
 weight          845.777234
 acceleration      2.754222
 model year        3.692978
 origin            0.801047
 dtype: float64)

In [ ]:
mpg.dtypes

cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [ ]:
X = mpg.iloc[:,[1,4]]
scaler.fit(X)
mpgscaled=scaler.transform(X)

In [ ]:
mpgscaled

array([[ 1.0906037 , -1.29549834],
       [ 1.5035143 , -1.47703779],
       [ 1.19623199, -1.65857724],
       [ 1.06179598, -1.29549834],
       [ 1.04259084, -1.84011669],
       [ 2.26211751, -2.02165614],
       [ 2.50218182, -2.38473503],
       [ 2.36774581, -2.56627448],
       [ 2.51178439, -2.02165614],
       [ 1.88761719, -2.56627448],
       [ 1.82039919, -2.02165614],
       [ 1.40748858, -2.74781393],
       [ 1.98364292, -2.20319559],
       [ 2.51178439, -2.02165614],
       [-0.77229532, -0.20626165],
       [ 0.04392332, -0.02472221],
       [ 0.0535259 , -0.02472221],
       [ 0.06312847,  0.15681724],
       [-0.92593647, -0.3878011 ],
       [-0.92593647,  1.79067228],
       [-0.80110303,  0.70143559],
       [-0.82991075, -0.3878011 ],
       [-0.85871847,  0.70143559],
       [-0.69547474, -1.1139589 ],
       [ 0.0535259 , -0.20626165],
       [ 1.59954003, -0.56934055],
       [ 1.0906037 , -0.20626165],
       [ 1.19623199, -0.75088   ],
       [ 1.06179598,  1.06451448],
       [-0.92593647, -0.3878011 ],
       [-0.51302587, -0.02472221],
       [-0.77229532, -0.56934055],
       [-0.9163339 ,  1.24605393],
       [ 0.37041078, -0.93241945],
       [ 0.30319277, -0.02472221],
       [ 0.54325708, -0.02472221],
       [ 0.54325708, -0.02472221],
       [ 0.37041078, -0.02472221],
       [ 1.5035143 , -1.29549834],
       [ 1.98364292, -1.47703779],
       [ 1.51311688, -0.75088   ],
       [ 1.19623199, -0.93241945],
       [ 1.82039919, -1.47703779],
       [ 1.98364292, -1.29549834],
       [ 1.98364292, -1.29549834],
       [ 0.62007766, -0.75088   ],
       [-0.51302587,  1.24605393],
       [ 0.54325708, -0.20626165],
       [ 0.54325708, -0.3878011 ],
       [-0.68587217, -0.56934055],
       [-0.7434876 , -0.56934055],
       [-1.09878277,  1.42759338],
       [-1.01235962, -0.3878011 ],
       [-1.17560335,  1.24605393],
       [-1.16600078,  0.88297504],
       [-0.92593647,  1.24605393],
       [-0.98355191,  1.79067228],
       [-0.77229532, -0.02472221],
       [-0.92113519,  0.51989614],
       [-0.92593647,  2.87990897],
       [-0.51302587,  1.42759338],
       [-0.68587217,  0.33835669],
       [ 1.5035143 , -1.29549834],
       [ 1.98364292, -1.29549834],
       [ 1.19623199, -0.75088   ],
       [ 1.51311688, -0.93241945],
       [ 1.06179598, -1.47703779],
       [ 2.26211751, -1.65857724],
       [ 1.5035143 , -0.75088   ],
       [ 1.5035143 , -0.75088   ],
       [ 1.98364292, -1.1139589 ],
       [-1.18520592, -0.75088   ],
       [ 1.06179598, -1.1139589 ],
       [ 1.0906037 , -0.56934055],
       [ 1.04259084,  0.15681724],
       [ 1.19623199, -0.56934055],
       [-0.69547474, -0.3878011 ],
       [-0.69547474,  0.88297504],
       [-0.70507731,  1.42759338],
       [-0.93553905,  0.88297504],
       [-0.68587217,  0.15681724],
       [-0.92593647,  0.51989614],
       [-0.70507731, -0.3878011 ],
       [-0.9163339 , -0.20626165],
       [-0.92593647,  0.33835669],
       [ 1.5035143 , -0.93241945],
       [ 1.06179598, -1.47703779],
       [ 1.5035143 , -0.93241945],
       [ 1.04259084, -0.3878011 ],
       [ 1.19623199, -1.1139589 ],
       [ 2.26211751, -1.47703779],
       [ 1.98364292, -1.29549834],
       [ 1.51311688, -0.93241945],
       [ 1.19623199, -0.3878011 ],
       [ 2.36774581, -1.65857724],
       [ 2.51178439, -1.65857724],
       [ 1.59954003, -1.65857724],
       [ 0.30319277,  0.33835669],
       [ 0.54325708,  0.88297504],
       [ 0.37041078,  0.15681724],
       [ 0.54325708,  0.33835669],
       [ 0.04392332,  0.15681724],
       [-0.92593647,  1.97221172],
       [ 1.98364292, -0.56934055],
       [ 1.98364292, -1.1139589 ],
       [ 1.59954003, -0.93241945],
       [ 1.5035143 , -1.1139589 ],
       [ 0.37041078, -0.20626165],
       [-0.92593647,  1.24605393],
       [-0.51302587,  1.42759338],
       [-0.82030818,  0.33835669],
       [-1.18520592, -0.75088   ],
       [-0.68587217,  1.06451448],
       [-0.36898728, -0.56934055],
       [-0.9163339 , -0.02472221],
       [ 1.5035143 , -0.93241945],
       [ 1.98364292, -2.20319559],
       [-1.20441107,  1.42759338],
       [-0.7434876 , -0.02472221],
       [-0.76269274, -0.56934055],
       [-0.69547474, -0.02472221],
       [ 1.19623199, -1.65857724],
       [-0.69547474, -0.56934055],
       [-0.35938471, -0.75088   ],
       [ 1.5035143 , -1.65857724],
       [ 0.04392332,  0.33835669],
       [ 0.06312847,  0.51989614],
       [ 0.37041078,  0.15681724],
       [ 0.54325708,  0.51989614],
       [-1.09878277,  1.24605393],
       [-0.68587217,  0.33835669],
       [-1.17560335,  1.97221172],
       [-0.51302587,  0.51989614],
       [ 0.54325708,  0.51989614],
       [ 0.62007766,  0.88297504],
       [ 0.30319277,  0.33835669],
       [ 1.04259084, -0.56934055],
       [ 1.5035143 , -0.3878011 ],
       [ 1.19623199, -0.75088   ],
       [ 1.04259084,  0.15681724],
       [ 1.06179598, -0.02472221],
       [-0.9163339 ,  0.33835669],
       [-1.09878277, -0.02472221],
       [-0.92593647, -0.3878011 ],
       [-1.12759049,  0.33835669],
       [-1.06037248,  1.24605393],
       [-0.99315448, -0.3878011 ],
       [-0.99315448, -0.02472221],
       [-0.7434876 , -0.56934055],
       [-0.70507731, -0.20626165],
       [-0.82030818, -0.02472221],
       [-1.09878277,  0.15681724],
       [ 0.30319277,  0.15681724],
       [ 0.54325708,  0.15681724],
       [ 0.54325708,  1.97221172],
       [ 0.54325708,  1.42759338],
       [ 1.98364292, -1.47703779],
       [ 1.5035143 , -0.56934055],
       [ 1.19623199, -0.3878011 ],
       [ 1.51311688, -0.75088   ],
       [ 0.36080821,  1.97221172],
       [ 0.54325708,  1.06451448],
       [ 0.62007766,  1.24605393],
       [ 0.30319277,  1.24605393],
       [ 0.36080821, -0.20626165],
       [ 0.65848795, -0.75088   ],
       [ 1.04259084, -1.29549834],
       [-0.92593647,  0.15681724],
       [-0.51302587,  0.51989614],
       [ 0.37041078,  0.15681724],
       [-0.51302587,  1.06451448],
       [-0.5706413 , -0.75088   ],
       [-0.99315448,  0.33835669],
       [-0.71467988,  0.51989614],
       [-0.21534613, -0.3878011 ],
       [-0.99315448, -0.56934055],
       [ 0.37041078,  0.51989614],
       [-0.75309017, -0.20626165],
       [-0.70507731,  0.51989614],
       [-0.69547474, -0.3878011 ],
       [-0.69547474, -0.75088   ],
       [-0.98355191,  0.70143559],
       [-0.82991075, -0.02472221],
       [-0.7434876 ,  0.48358825],
       [-0.51302587, -0.24256954],
       [-0.9163339 ,  0.77405137],
       [-0.88752618, -0.09733799],
       [ 1.07139855, -0.93241945],
       [ 1.19623199, -0.93241945],
       [ 1.06179598, -0.60564844],
       [ 1.51311688, -1.00503523],
       [ 0.30319277, -0.0610301 ],
       [ 0.54325708, -0.3878011 ],
       [ 0.06312847,  0.73774348],
       [ 0.37041078,  0.73774348],
       [-1.04116734,  2.4079064 ],
       [-0.9163339 ,  2.37159851],
       [-0.99315448, -0.49672477],
       [-0.98355191,  0.6651277 ],
       [ 0.30319277,  0.77405137],
       [ 0.54325708,  1.97221172],
       [ 0.54325708,  0.22943302],
       [ 0.62007766,  0.81035926],
       [-0.92593647, -1.22288256],
       [-1.04116734,  0.51989614],
       [-0.92593647,  0.3020488 ],
       [-0.51302587, -0.71457211],
       [-0.60905159,  0.04789357],
       [ 1.19623199, -0.85980367],
       [-0.70507731,  2.29898273],
       [-0.35938471, -0.02472221],
       [-0.24415384,  0.41097247],
       [ 1.5035143 , -1.25919045],
       [ 1.5035143 , -1.29549834],
       [ 1.04259084, -0.20626165],
       [ 1.19623199, -0.56934055],
       [-0.9163339 ,  1.06451448],
       [-0.79150046, -0.27887743],
       [-1.09878277,  1.10082237],
       [-0.68587217, -0.02472221],
       [-1.04116734,  0.44728036],
       [ 1.07139855, -1.1139589 ],
       [ 0.6392828 ,  1.24605393],
       [ 1.19623199, -0.67826422],
       [ 1.04259084, -0.24256954],
       [ 0.54325708,  0.3020488 ],
       [ 0.36080821,  0.48358825],
       [ 0.30319277,  0.77405137],
       [ 0.54325708,  1.24605393],
       [ 1.98364292, -1.62226935],
       [ 1.5035143 , -1.51334568],
       [ 1.98364292, -1.22288256],
       [ 1.51311688, -0.3878011 ],
       [-0.92593647, -0.3878011 ],
       [-0.40739757,  0.15681724],
       [-0.92593647,  0.95559081],
       [-0.51302587,  0.08420146],
       [-0.9163339 ,  0.51989614],
       [-0.9163339 ,  0.12050935],
       [-0.92593647,  0.3020488 ],
       [-0.92593647, -0.53303266],
       [-0.45541043, -0.3878011 ],
       [-0.69547474, -1.00503523],
       [-1.0891802 , -0.75088   ],
       [-0.99315448,  2.15375117],
       [-0.9163339 , -0.42410899],
       [-1.10838535,  1.39128549],
       [-1.04116734,  1.10082237],
       [-0.98355191,  0.3020488 ],
       [ 0.6392828 , -0.02472221],
       [ 1.19623199, -0.85980367],
       [ 1.04259084, -1.00503523],
       [ 0.36080821,  1.31866971],
       [ 0.06312847,  0.95559081],
       [ 0.06312847,  0.08420146],
       [-0.51302587, -0.0610301 ],
       [ 0.30319277,  0.59251192],
       [ 0.37041078,  0.59251192],
       [ 0.36080821,  0.08420146],
       [ 0.06312847,  0.41097247],
       [ 0.30319277,  1.13713026],
       [ 0.62007766, -0.16995376],
       [ 1.07139855, -0.85980367],
       [ 0.36080821, -0.78718789],
       [ 1.04259084, -1.58596146],
       [ 1.19623199, -0.67826422],
       [-0.9163339 ,  0.33835669],
       [-0.5706413 , -0.49672477],
       [-0.71467988, -0.31518532],
       [-0.8491159 , -0.3878011 ],
       [-0.5706413 , -0.27887743],
       [-0.35938471,  0.41097247],
       [-0.40739757,  0.73774348],
       [-0.71467988, -0.24256954],
       [-0.59944902,  0.12050935],
       [-0.2921667 , -0.71457211],
       [-0.69547474,  0.04789357],
       [-0.2921667 ,  0.08420146],
       [-1.00275705, -0.24256954],
       [-0.9163339 ,  0.37466458],
       [ 0.36080821, -0.0610301 ],
       [ 0.06312847,  0.95559081],
       [-0.51302587,  0.62881981],
       [ 0.37041078,  0.95559081],
       [ 0.30319277,  0.37466458],
       [ 1.07139855, -0.0610301 ],
       [ 1.04259084, -0.78718789],
       [ 1.51311688, -0.85980367],
       [ 1.19623199, -0.13364588],
       [ 1.5035143 , -0.24256954],
       [ 1.51311688, -0.46041688],
       [ 0.70650081, -0.20626165],
       [ 1.59954003, -0.93241945],
       [-1.00275705, -0.56934055],
       [-1.03156477, -0.13364588],
       [-0.9163339 , -0.42410899],
       [-0.69547474, -0.20626165],
       [-0.10011526,  1.64544072],
       [ 1.5035143 ,  0.6651277 ],
       [-0.50342329,  3.35191153],
       [ 0.6392828 ,  2.4079064 ],
       [-0.8491159 , -0.85980367],
       [-0.8491159 , -0.24256954],
       [-1.04116734,  1.31866971],
       [-0.98355191, -0.31518532],
       [-0.40739757,  0.15681724],
       [-0.19614098, -1.54965357],
       [-0.19614098, -0.96872734],
       [-0.40739757, -0.85980367],
       [-0.9163339 , -0.31518532],
       [-1.00275705,  1.17343815],
       [-0.9163339 , -0.02472221],
       [-1.03156477,  0.3020488 ],
       [-0.40739757,  0.33835669],
       [-0.51302587,  0.91928292],
       [-0.40739757,  1.64544072],
       [ 0.30319277,  1.13713026],
       [-0.92593647,  0.08420146],
       [-0.5706413 , -0.02472221],
       [-0.70507731,  0.70143559],
       [-0.71467988, -0.20626165],
       [-0.82030818, -0.13364588],
       [-1.03156477,  0.84666715],
       [-0.35938471, -0.42410899],
       [-1.04116734,  1.31866971],
       [-0.99315448,  2.22636695],
       [-0.99315448,  2.95252475],
       [-0.69547474,  1.57282494],
       [-0.45541043,  2.26267484],
       [-0.98355191, -0.64195633],
       [-1.04116734,  0.62881981],
       [-0.92593647,  0.88297504],
       [-1.00275705, -0.09733799],
       [-0.24415384, -1.51334568],
       [-1.18520592, -1.1139589 ],
       [-0.68587217, -0.16995376],
       [-0.51302587, -0.46041688],
       [-0.82991075,  0.51989614],
       [-0.56103873,  0.04789357],
       [-0.40739757,  0.3020488 ],
       [-0.35938471, -0.42410899],
       [-0.19614098, -1.07765101],
       [-0.56103873, -0.96872734],
       [-1.09878277,  0.48358825],
       [-1.03156477,  0.3020488 ],
       [-1.07957763,  0.19312513],
       [-0.92593647,  0.81035926],
       [-1.04116734,  1.39128549],
       [-1.00275705,  0.62881981],
       [-0.98355191,  0.15681724],
       [-0.8491159 , -0.24256954],
       [-0.9163339 ,  0.22943302],
       [-0.9163339 ,  1.86328806],
       [-0.8491159 , -0.49672477],
       [-0.89712876,  0.08420146],
       [-0.82991075, -0.42410899],
       [-0.82030818,  0.44728036],
       [-0.71467988, -0.27887743],
       [-0.70507731,  0.9918987 ],
       [-0.50342329,  1.75436439],
       [-0.46501301,  1.46390127],
       [-0.24415384, -1.07765101],
       [-0.45541043, -0.64195633],
       [ 0.36080821,  0.08420146],
       [ 1.5035143 ,  1.24605393],
       [ 0.06312847,  0.55620403],
       [ 0.30319277,  0.37466458],
       [-0.78189789,  1.46390127],
       [-0.78189789,  1.10082237],
       [-0.78189789,  0.88297504],
       [-0.78189789,  0.22943302],
       [-0.56103873,  0.15681724],
       [-0.40739757,  0.88297504],
       [-0.51302587,  0.3020488 ],
       [-0.40739757,  1.79067228],
       [-0.8491159 , -0.09733799],
       [-0.98355191,  0.95559081],
       [-0.98355191,  0.73774348],
       [-0.8491159 , -0.31518532],
       [-0.9163339 ,  0.62881981],
       [-0.70507731, -0.3878011 ],
       [-0.82991075, -0.3878011 ],
       [-0.82030818,  0.48358825],
       [-0.98355191, -0.20626165],
       [-0.98355191,  0.04789357],
       [-0.98355191,  0.22943302],
       [-0.1193204 ,  0.3020488 ],
       [ 0.65848795,  0.51989614],
       [-0.35938471, -0.3878011 ],
       [ 0.37041078, -0.31518532],
       [-0.47461558, -0.60564844],
       [-0.56103873, -0.93241945],
       [-0.40739757,  0.62881981],
       [-0.51302587,  0.01158568],
       [-0.92593647,  3.27929575],
       [-0.56103873, -1.4407299 ],
       [-0.70507731,  1.10082237],
       [-0.71467988,  1.39128549]])

In [ ]:

# OR
mpgscaled=scaler.fit_transform(X)

np.mean(mpgscaled[:,0]), np.std(mpgscaled[:,0])
np.mean(mpgscaled[:,1]), np.std(mpgscaled[:,1])

(-2.6779248835179653e-16, 0.9999999999999998)

In [ ]:
# Converting numpy array to pandas
df_mpg = pd.DataFrame(mpgscaled)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
minmax = MinMaxScaler()
minmax.fit(X)
minmaxMpg = minmax.transform(X)

In [ ]:
minmaxMpg[1:5,]

array([[0.72868217, 0.20833333],
       [0.64599483, 0.17857143],
       [0.60981912, 0.23809524],
       [0.60465116, 0.14880952]])

### Splitting dataset

In [ ]:
df_chemicalImputed.head()

,Yield,BiologicalMaterial11,BiologicalMaterial12,ManufacturingProcess01,ManufacturingProcess02,ManufacturingProcess03,ManufacturingProcess04,ManufacturingProcess09,ManufacturingProcess10,ManufacturingProcess11,...,ManufacturingProcess23,ManufacturingProcess24,ManufacturingProcess34,ManufacturingProcess35,ManufacturingProcess36,ManufacturingProcess37,ManufacturingProcess38,ManufacturingProcess39,ManufacturingProcess40,ManufacturingProcess41
0,38.00,138.09,18.83,9.488889,0.0,1.5575,926.944444,43.00,9.592308,10.330769,...,2.0,5.611111,2.4,486.0,0.019,0.5,3.0,7.2,0.011111,0.019444
1,42.44,153.67,21.05,0.000000,0.0,1.5575,917.000000,46.57,9.592308,10.330769,...,0.0,3.000000,2.6,508.0,0.019,2.0,2.0,7.2,0.100000,0.150000
2,42.03,153.67,21.05,0.000000,0.0,1.5575,912.000000,45.07,9.592308,10.330769,...,1.0,4.000000,2.6,509.0,0.018,0.7,2.0,7.2,0.000000,0.000000
3,41.42,153.67,21.05,0.000000,0.0,1.5575,911.000000,44.92,9.592308,10.330769,...,2.0,5.000000,2.5,496.0,0.018,1.2,2.0,7.2,0.000000,0.000000
4,42.49,147.61,21.05,10.700000,0.0,1.5575,918.000000,44.96,9.592308,10.330769,...,4.0,18.000000,2.5,468.0,0.017,0.2,2.0,7.3,0.000000,0.000000

In [ ]:
X= df_chemicalImputed.iloc[:,1:]
y= df_chemicalImputed.iloc[:,0]

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    train_size=0.7, 
                                                    random_state=2021)

<font color='green'>**References**</font>

*   [Ref 1](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

*   [Ref 2](https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html)

*   [Ref 3](https://scikit-learn.org/stable/modules/impute.html)

*   [Ref 4](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html)

*   [Ref 5](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OrdinalEncoder.html)

*   [Ref 6](https://pbpython.com/categorical-encoding.html)
*   [Ref 7](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html)
*   [Google Collab](https://colab.research.google.com/notebooks/io.ipynb)